{% extends "JayaTestWebBundle::base.html.twig" %}
{% block content %}
<h2>Гостевая книга</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% for item in items %}
	{% if item.username == 'system' %}
		[{{ item.createdAt | date("d.m.Y H:i:s") }}] <strong><i>{{ item.message }}</i></strong><br/>
	{% else %}
    	[{{ item.createdAt | date("d.m.Y H:i:s") }}] <strong>{{ item.username }}</strong>: {{ item.message }}<br/>
    {% endif %}
{% endfor %}

{% endblock %}
